.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
gradle.properties
gradlew
gradlew.bat
local.properties
Softie.iml
.idea/
.idea
app/build
app/app.iml
build
gradle
softie/build
softie/softie.iml